rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /orders/{id} {
      allow create: if true;
      allow read, update, delete: if isSignedIn();
    }

    match /bookings/{id} {
      allow read, create: if true;
      allow update, delete: if isSignedIn();
    }

    match /tables/{id} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /menuItems/{id} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /orderItems/{id} {
      allow read, create: if true;
      allow update, delete: if isSignedIn();
    }

    match /bills/{id} {
      allow read, write: if isSignedIn();
    }

    match /refunds/{id} {
      allow read, write: if isSignedIn();
    }

    match /restaurantSettings/{id} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /staff/{id} {
      allow read, write: if isSignedIn();
    }

  }
}
