rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /orders/{id} {
      allow read, create: if true;
      allow update, delete: if isSignedIn();
    }

    match /bookings/{id} {
      allow read, create: if true;
      allow update, delete: if isSignedIn();
    }

    match /tables/{id} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /menuItems/{id} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /orderItems/{id} {
      allow read, create: if true;
      allow update, delete: if isSignedIn();
    }

    match /bills/{id} {
      allow read, write: if isSignedIn();
    }

    match /refunds/{id} {
      allow read, write: if isSignedIn();
    }

    match /restaurantSettings/{id} {
      allow read: if true;
      allow write: if isSignedIn();
    }

    match /staff/{id} {
      allow read, write: if isSignedIn();
    }

    match /invMaterials/{id} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    match /invVendors/{id} {
      allow read, write: if isSignedIn();
    }
    match /invRequests/{id} {
      allow read, write: if isSignedIn();
    }
    match /invReturns/{id} {
      allow read, write: if isSignedIn();
    }
    match /invPOs/{id} {
      allow read, write: if isSignedIn();
    }
    match /invReceipts/{id} {
      allow read, write: if isSignedIn();
    }
    match /invWastage/{id} {
      allow read, write: if isSignedIn();
    }
    match /invTemplates/{id} {
      allow read, write: if isSignedIn();
    }
    match /invLedger/{id} {
      allow read, write: if isSignedIn();
    }

  }
}
